**/__pycache__
**/.ipynb_checkpoints
**/*egg-info
**/*.sw[a-z]

*.ckpt
*.pth
*.pt
*.nc
*.png
*.json
*.log
*.txt
*.wandb
*.ipynb_checkpoints
*.ipynb
*.yaml
*.h5


wget-log
**/koopman_autoencoder/wandb/latest-run
**/koopman_autoencoder/wandb/settings
